upstream backend {
    server 192.168.100.64:8083;
    server 192.168.100.64:8084;
}

# Configuración para el puerto 80 (balanceo de carga)
server {
    listen 80;

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Configuración para el puerto 8083
server {
    listen 8083;

    location / {
        default_type text/html;
        return 200 '<html><body><h1>Hola desde 8083</h1></body></html>';
    }
}

# Configuración para el puerto 8084
server {
    listen 8084;

    location / {
        default_type text/html;
        return 200 '<html><body><h1>Hola desde 8084</h1></body></html>';
    }
}
